* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    background-color: #FBF8EF;
}

@media (max-width: 768px) {
    body {
        gap: 5rem;
    }
}

:root {
    --font-family: "Unbounded";
    --font-weight-bold: 800;
    --font-weight-regular: 400;
    --font-color: #292929;
}

/* header */

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 40px 10px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        margin: 0px;
        padding: 1rem 2rem;
    }
}

header .logo {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%); 
}

@media (max-width: 768px) {
    header .logo {
        position: relative;
    }
}

header h1 {
   font-family: var(--font-family);
   font-size: 1.5rem;
   font-weight: var(--font-weight-bold);
   color: var(--font-color); 
}

@media (max-width: 768px) {
    header h1 {
        font-size: 1rem;
    }
}

/* main */

main {
    display: flex;
    gap: 10rem;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 16rem;
}

/* article */

article {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    background-color: #4B4B4B;
    padding: 2rem 3rem 10rem;
}

@media (max-width: 768px) {
    article {
        padding: 4rem 1rem;
        display: flex;
        flex-direction: column;
    }
}

.imgNameModel {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10rem;
    width: 70%;
    padding: 3rem 0rem;
}

@media (max-width: 768px) {
    .imgNameModel {
        width: 90%;
        gap: 4rem;
        padding: 0rem;
    }
}

.imgNameModel h2 {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 200;
    color: #FBF8EF;
}

.imgNameModel img {
    width: 100%;
    height: auto;
    transform: translateX(-5rem);
    transition: 0.8s all ease;
    opacity: 0;
}

.imgNameModel img.visible {
    transform: translateX(0rem);
    opacity: 1;
}

@media (max-width: 768px) {
    .imgNameModel h2 {
        font-size: 0.7rem;
    }
}

.generalMenu {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 3% 2%;
    background-color: #FBF8EF;
    border-radius: 20px;
    font-family: var(--font-family);
    max-width: 30%;
    max-height: 40rem;
    overflow-y: hidden;
}

.generalMenu:hover {
    overflow-y: auto;
}

@media (max-width: 768px) {
    .generalMenu {
        max-width: 100%;
        max-height: 25rem;
        padding: 10% 10%;
    }
}

/* colors */

.menuContainer {
    /*display: none*/
    display: none;
    flex-direction: column;
    gap: 5rem;
}

.menuContainer:nth-of-type(1) {
    display: flex;
}

@media (max-width: 768px) {
    .menuContainer {
        gap: 3rem;
    }
}

/*
.menuContainer.activity {
    display: flex;
}
*/

.choiceContainer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.choiceType {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0rem 1rem;
}

.choiceType ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.choiceType ul li {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-sizing: border-box;
    padding: 0.5rem;
    transition: all 0.3s ease;
}

.choiceType ul p {
    font-size: 0.8rem;
    font-weight: 300;
    padding: 0rem 1rem;
}

.choiceType button {
    width: 100%;
    height: 3rem;
    border-radius: 20px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
    border: none;
}

@media (max-width: 768px) {
    .choiceType {
        padding: 0rem;
    }

    .choiceType ul p {
        font-size: 0.7rem;
    }
}

/* setColors to buttons */

.choiceType ul:nth-of-type(1) li input {
    width: 100%;
    height: 3rem;
    border-radius: 20px;
}

.color li button[data-model = "white"] {
    background-color: #DBDBDB; 
}

.color li button[data-model = "black"] {
    background-color: #1C1C1C;
}

.color li button[data-model = "dark-blue"] {
    background-color: #003556;
}

.color li button[data-model = "red"] {
    background-color: #930002;
}

.color li button[data-model = "green"] {
    background-color: #A4C4B8; 
}

.color li button[data-model = "yellow"] {
    background-color: #CED27B;
}

.color li button[data-model = "guards-red"] {
    background-color: #CC0133;
}

.color li button[data-model = "gentian-blue"] {
    background-color: #01194B;
}

.color li button[data-model = "brown-white"] {
    background: linear-gradient(to right, #FFFFFF 50%, #493628 50%);
}

.color li button[data-model = "brown-black"] {
    background: linear-gradient(to right, #1C1C1C 50%, #493628 50%);
}

.color li button[data-model = "dark-blue - gray"] {
    background: linear-gradient(to right, #003556 50%, #3E3E3E 50%);
}

.color li button[data-model = "red-gray"] {
    background: linear-gradient(to right, #930002 50%, #3E3E3E 50%);
}

/* wheels */

.wheelsType li {
    height: 100%;
}

.wheelsType li button {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #4B4B4B;
    padding: 2rem 1rem;
}

.wheelsType li img { 
    width: 100%;
    height: auto;
}

.wheelsType li p {
    color: #FBF8EF;
}

/* navMenu */

.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBF8EF;
    border-radius: 20px;
    width: 100%;
    margin: 0rem 2rem;
    padding: 1rem 2rem;
}

@media (max-width: 768px) {
    .navMenu {
        margin: 0rem 1rem;
        padding: 1rem 1rem;
    }
}

.navMenu ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.navMenu ul li button {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: underline;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navMenu ul {
        gap: 1rem;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        padding-bottom: 1rem;
        flex-wrap: nowrap;
    }

    .navMenu ul li button {
        font-size: 0.7rem;
    }
}

.priceNav {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.priceNav p {
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
}

.priceNav button {
    padding: 1.5rem 3rem;
    border-radius: 20px;
    background-color: #D9D9D9;
    border: none;
}

@media (max-width: 768px) {
    .priceNav {
        gap: 0.5rem;
    }

    .priceNav p {
        font-size: 1rem;
    }

    .priceNav button {
        padding: 0.5rem 0.8rem;
    }
}

.buttonActive {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 20%;
    background-color: #FBF8EF;
    border-radius: 20px;
    padding: 1rem 0.5rem;
    visibility: hidden;
}

.buttonActive p {
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    text-align: center;
}

.buttonActive input {
    font-family: var(--font-family);
    font-size: 1rem;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
    padding: 0.3rem;
}

/* headerResult */

.headerResult {
    display: flex;
    gap: 8rem;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {
    .headerResult img {
        width: 100%;
    }
}

.headerText {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
}

.headerText p,
.headerText h4 {
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: 200;
}

.headerText h4 {
    font-weight: var(--font-weight-bold);
}

/* resultSection */

.resultSection {
    display: flex;
    flex-direction: column;
    gap: 12rem;
}

.finalCheckSection {
    display: flex;
    gap: 6rem;
    justify-content: center;
}

.finalCheckSection p {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    opacity: 0;
    transform: translateX(-30rem);
    transition: all 0.8s ease;
}

.finalCheckSection p.visible {
    opacity: 1;
    transform: translateX(0rem);
}

.resultCheck {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    max-width: 30%;
    padding: 2rem 3rem;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateX(30rem);
    transition: all 0.8s ease;
}

.resultCheck.visible {
    transform: translateX(0rem);
    opacity: 1;
}

.containerCheck {
    display: flex;
    justify-content: space-between;
}

.containerCheck:nth-child(3) p {
    font-weight: var(--font-weight-bold);
}

.detailCheckSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
    padding: 0rem 30rem;
    opacity: 0;
}

.detailCheckSection.active {
    opacity: 1;
}

.detailCheckSection p {
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: 200;
}

.headerItemsCheck {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.headerItemsCheck label {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 200;
}

.labelContainer {
    display: flex;
    gap: 7rem;
}

.itemsList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.itemsList.visible {
    opacity: 1;
    transform: translateY(0rem);
}

.itemsList p,
.itemsList label {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
}

/* footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #292929;
    padding: 7.5rem 7.5rem;
    overflow: hidden;
}
@media (max-width: 768px) {
    footer {
        padding: 2rem 2.5rem;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }
}

footer img {
    width: 100%; 
    height: auto; 
    max-width: 50%; 
    display: block;
    opacity: 0;
    transform: translateX(50rem);
    transition: all 0.8s ease;
}

@media (max-width: 768px) {
    footer img {
        transform: translateX(0rem);
    }
}

footer img.visible {
    opacity: 1;
    transform: translateX(0rem);
}

.menuButtons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (max-width: 768px) {
    .menuButtons {
        gap: 1.5rem;
    }

    .menuButtons:nth-child(1),
    .menuButtons:nth-child(3) {
        align-items: center;
    }
}

.footerButton {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color: #FBF8EF;
    transition: all 0.3s ease-in-out;
}

.menuButtons:nth-of-type(1) .footerButton:hover {
    transform: scale(1.05);
    color: #FFF3D0;
}

@media (max-width: 768px) {
    .footerButton {
        font-size: 0.8rem;
    }
}