* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}


body {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    background-color: #FBF8EF;
}

/* header - nav */

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 40px 10px;
}

header .logo {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%); 
}

nav {
    display: flex;
    justify-content: center; 
    flex-grow: 1; 
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 35px;
    list-style: none;
}

.nav-list > li:nth-of-type(4) > .navButton {
    font-weight: var(--font-weight-bold);
}

.navButton {
    text-decoration: none;
    font-family: "Unbounded";
    font-size: 1rem;
    font-weight: 400;
    color: #4F4F4F;
    transition: all 0.3s ease;
    position: relative;
}

.navButton:hover {
    font-weight: 900;
    color: #2C2C2C;
}

.subMenu {
    position: absolute;
    top: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index: 1000;
    display: none;
    opacity: 0;
    background-color: #D9D9D9;
    padding: 3.5rem 1.5rem;
    border-radius: 10px;
    gap: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
}

.subMenu.visible {
    display: grid; 
    opacity: 1;
}

.subMenu.hidden {
    opacity: 0;
    display: none;
}

.subMenu a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.subMenu p {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color: #4F4F4F;
}

.subMenu li {
    list-style: none;
    padding: 10px;
    transition: all 0.5 ease;
}

.subMenu li:hover {
    background-color: white;
    border-radius: 10px;
}


.contactsMenu {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    background-color: #D9D9D9;
    padding: 3.5rem 1.5rem 12.5rem 1.5rem;
    border-radius: 10px;
    z-index: 1000;
    overflow: hidden;
    display: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.contactsMenu.visible {
    display: flex; 
    opacity: 1;
}

.contactsMenu.hidden {
    opacity: 0;
    display: none;
}

.contactsMenu li {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.contactsMenu h2 {
    font-family: var(--font-family);
    font-size: 1.25rem;
    font-weight: var(--font-weight-bold);
    color: #4F4F4F;
}

.contactsMenu dt {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 0.5rem;
    font-weight: var(--font-weight-bold);
    color: #4F4F4F;
    font-style: normal; 
}

.contactsMenu dd {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color: #686868;
    margin-bottom: 8px;
    font-style: normal; 
}

.contactsMenu dd a {
    text-decoration: none; 
    color: inherit;
    font-style: normal; 
}

.contactsMenu img {
    position: absolute;
    right: -3rem;
    scale: 0.5;
    opacity: 0.5;
    filter: grayscale(100%);
    transform: scaleX(-1);
}

.servicesMenu {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #D9D9D9;
    padding: 2rem 3rem;
    list-style: none;
    border-radius: 10px;
    z-index: 1000;
    display: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
}

.servicesMenu.visible {
    display: flex; 
    opacity: 1;
}

.servicesMenu.hidden {
    opacity: 0;
    display: none;
}

.servicesMenu a {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: #4F4F4F;
    transition: all 0.3s ease;
}

.servicesMenu a:hover {
    font-weight: var(--font-weight-bold);
}

.accessoriesMenu {
    position: absolute;
    top: 100%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #D9D9D9;
    padding: 2rem 3rem 7rem 3rem;
    overflow: hidden;
    list-style: none;
    display: none;
    border-radius: 10px;
    z-index: 1000;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
}

.accessoriesMenu.visible {
    display: flex; 
    opacity: 1;
}

.accessoriesMenu.hidden {
    opacity: 0;
    display: none;
}

.accessoriesMenu a {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: #4F4F4F;
    transition: all 0.3s ease;
}

.accessoriesMenu a:hover {
    font-weight: var(--font-weight-bold);
}

.accessoriesMenu img {
    position: absolute;
    top: 8rem;
    left: 8rem;
    opacity: 0.5;
}

/* main */

main {
    display: flex;
    flex-direction: column;
    gap: 12rem;
    margin-bottom: 10rem;
}

/* article */

:root {
    --font-family: "Unbounded";
    --font-weight-bold: 800;
    --font-weight-regular: 400;
    --font-color: #292929;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
}

article img {
    width: 100%;
    height: auto;
}

article .accessoriesHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family: var(--font-family);
}

article .accessoriesHeader h1 {
    font-size: 1.5rem;
    font-weight: 300;
}

article .accessoriesHeader h2 {
    font-size: 1.8rem;
    font-weight: var(--font-weight-bold);
}

/* carAccessories */

.carAccessories {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding: 0rem 4rem;
}

.accessoriesCarBlock {
    display: flex;
}

.accessoriesCarBlock img {
    width: 60%;
    height: auto;
}

.carBlockText {
    background-color: #493628;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 2rem 3rem;
    width: 20%;
    height: auto;
}

.carBlockText details {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: #FBF8EF;
}

.carBlockText details summary {
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
}

.configuratorButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family: var(--font-family);
}

.configuratorButton h3 {
    font-size: 1.5rem;
    font-weight: 300;
}

.configuratorButton button {
    background-color: #7E634F;
    padding: 1rem 2rem;
    border-radius: 20px;
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: var(--font-weight-regular);
    color: #FBF8EF;
    border: none;
}

/* question */

.porscheQuestion {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.porscheQuestion img {
    width: 70%;
    height: auto;
    opacity: 0;
    transform: translateY(10rem);
    transition: all 0.3s ease;
}

.porscheQuestion img.visible {
    opacity: 1;
    transform: translateY(0rem);
}

.porscheQuestion .questionText {
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: var(--font-family);
    opacity: 0;
    transform: translateY(10rem);
    transition: all 0.3s ease;
}

.porscheQuestion .questionText.visible {
    opacity: 1;
    transform: translateY(0rem);
}

.porscheQuestion .questionText h3 {
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
    color: #4F4F4F;
}

.porscheQuestion .questionText p {
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: #4F4F4F;
}

/* brandAccessories */

.accessoriesBrandHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-family);
}

.accessoriesBrandHeader h3 {
    font-size: 1.5rem;
    font-weight: 300;
}

.accessoriesBrandHeader h4 {
    font-size: 1.8rem;
    font-weight: var(--font-weight-bold);
}

.accessoriesBrand {
    background-color: #493628;
    padding: 4rem 7rem 8rem;
    display: flex;
    align-items: center;
    gap: 4rem;
}

.accessoriesBrand img {
    border-radius: 20px;
    width: 70%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateX(-20rem);
    transition: all 0.3s ease;
}

.accessoriesBrand img.visible {
    opacity: 1;
    transform: translateX(0rem);
}

.brandBlockText {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: var(--font-family);
    opacity: 0;
    transform: translateX(20rem);
    transition: all 0.3s ease;
}

.brandBlockText.visible {
    opacity: 1;
    transform: translateY(0rem);
}

.brandBlockText h5 {
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
    color: #FBF8EF;
}

.brandBlockText p {
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: #FBF8EF;
    width: 80%;
}

/* footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #292929;
    padding: 7.5rem 7.5rem;
    overflow: hidden;
}

footer img {
    width: 100%; 
    height: auto; 
    max-width: 50%; 
    display: block;
}

.menuButtons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footerButton {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color: #FBF8EF;
    transition: all 0.3s ease-in-out;
}

.menuButtons:nth-of-type(1) .footerButton:hover {
    transform: scale(1.05);
    color: #FFF3D0;
}