* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    background-color: #FBF8EF;
}

@media (max-width: 768px) {
    body {
        gap: 5rem;
    }
}

:root {
    --font-family: "Unbounded";
    --font-weight-bold: 800;
    --font-weight-regular: 400;
    --font-color: #292929;
}

/* header */

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 40px 10px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        margin: 0px;
        padding: 1rem 2rem;
    }
}

header .logo {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%); 
}

@media (max-width: 768px) {
    header .logo {
        position: relative;
    }
}

header h1 {
   font-family: var(--font-family);
   font-size: 1.5rem;
   font-weight: var(--font-weight-bold);
   color: var(--font-color); 
}

@media (max-width: 768px) {
    header h1 {
        font-size: 1rem;
    }
}

/* main */

main {
    display: flex;
    gap: 10rem;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 16rem;
}

@media (max-width: 768px) {
    main {
        padding: 0rem 1rem;
    }
}

/* article */

article {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    background-color: #4B4B4B;
    padding: 2rem 3rem 10rem;
}

.imgNameModel {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10rem;
    width: 70%;
    padding: 3rem 0rem;
}

.imgNameModel h2 {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 200;
    color: #FBF8EF;
}

.imgNameModel img {
    width: 100%;
    height: auto;
    transform: translateY(-5rem);
    transition: 0.3s all ease;
    opacity: 0;
}

.imgNameModel img {
    transform: translateX(0rem);
    opacity: 1;
}

.generalMenu {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2rem 4rem;
    background-color: #FBF8EF;
    border-radius: 20px;
    font-family: var(--font-family);
    max-width: 30%;
    max-height: 40rem;
    overflow-y: hidden;
}

.generalMenu:hover {
    overflow-y: auto;
}

/* colors */

.menuContainer {
    /*display: none*/
    display: none;
    flex-direction: column;
    gap: 5rem;
}

.menuContainer:nth-of-type(3) {
    display: flex;
}

/*
.menuContainer.activity {
    display: flex;
}
*/

.choiceContainer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.choiceType {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0rem 1rem;
}

.choiceType ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.choiceType ul li {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
}

.choiceType ul li:active {
    background-color: #4B4B4B;
    border-radius: 20px;
}

.choiceType ul p {
    font-size: 0.8rem;
    font-weight: 200;
    padding: 0rem 1rem;
}

.choiceType ul p:active {
    color: #FBF8EF
}

.choiceType button {
    width: 100%;
    height: 3rem;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.choiceType ul:nth-of-type(1) li input {
    width: 100%;
    height: 3rem;
    border-radius: 20px;
}

/* wheels */

.wheelsType li button {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #4B4B4B;
    padding: 2rem 1.5rem;
}

.wheelsType li p {
    color: #FBF8EF;
}

.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBF8EF;
    border-radius: 20px;
    width: 100%;
    margin: 0rem 2rem;
    padding: 1rem 2rem;
}

.navMenu ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.navMenu ul li {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: underline;
}

.priceNav {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.priceNav p {
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
}

.priceNav button {
    padding: 1.5rem 3rem;
    border-radius: 20px;
    background-color: #D9D9D9;
    border: none;
}

/* headerResult */

.headerResult {
    display: flex;
    gap: 8rem;
    flex-direction: column;
    align-items: center;
}

.headerText {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
}

.headerText p,
.headerText h4 {
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: 200;
}

.headerText h4 {
    font-weight: var(--font-weight-bold);
}

/* resultSection */

.resultSection {
    display: flex;
    flex-direction: column;
    gap: 12rem;
}

.finalCheckSection {
    display: flex;
    gap: 6rem;
    justify-content: center;
}

.finalCheckSection p {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
}

.resultCheck {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    max-width: 30%;
    padding: 2rem 3rem;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateX(30rem);
    transition: all 0.8s ease;
}

.resultCheck.visible {
    transform: translateX(0rem);
    opacity: 1;
}

.containerCheck {
    display: flex;
    justify-content: space-between;
}

.containerCheck:nth-child(3) p {
    font-weight: var(--font-weight-bold);
}

.detailCheckSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
    padding: 0rem 30rem;
}

.detailCheckSection p {
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: 200;
}

.headerItemsCheck {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.headerItemsCheck label {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 200;
}

.labelContainer {
    display: flex;
    gap: 7rem;
}

.itemsList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.itemsList p,
.itemsList label {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
}

/* footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #292929;
    padding: 7.5rem 7.5rem;
    overflow: hidden;
}
@media (max-width: 768px) {
    footer {
        padding: 2rem 2.5rem;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }
}

footer img {
    width: 100%; 
    height: auto; 
    max-width: 50%; 
    display: block;
    opacity: 0;
    transform: translateX(50rem);
    transition: all 0.8s ease;
}

@media (max-width: 768px) {
    footer img {
        transform: translateX(0rem);
    }
}

footer img.visible {
    opacity: 1;
    transform: translateX(0rem);
}

.menuButtons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (max-width: 768px) {
    .menuButtons {
        gap: 1.5rem;
    }

    .menuButtons:nth-child(1),
    .menuButtons:nth-child(3) {
        align-items: center;
    }
}

.footerButton {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color: #FBF8EF;
    transition: all 0.3s ease-in-out;
}

.menuButtons:nth-of-type(1) .footerButton:hover {
    transform: scale(1.05);
    color: #FFF3D0;
}

@media (max-width: 768px) {
    .footerButton {
        font-size: 0.8rem;
    }
}