@import url("headerStyles.css");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    background-color: #FBF8EF;
}

@media (max-width: 768px) {
    body {
        gap: 6rem;
    }

    .no-scroll {
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1009;
    }
}

/* header - nav */

.nav-list > li:nth-of-type(4) > .navButton {
    font-weight: var(--font-weight-bold);
}

/* main */

main {
    display: flex;
    flex-direction: column;
    gap: 12rem;
    margin-bottom: 10rem;
}

@media (max-width: 768px) {
    main {
        gap: 8rem;
    }
}

/* article */

:root {
    --font-family: "Unbounded";
    --font-weight-bold: 800;
    --font-weight-regular: 400;
    --font-color: #292929;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
}

article img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    article img {
        width: 100%;
        height: 20rem;
        object-fit: cover;
    }
}

article .accessoriesHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family: var(--font-family);
}

article .accessoriesHeader h1 {
    font-size: 1.5rem;
    font-weight: 300;
}

article .accessoriesHeader h2 {
    font-size: 1.8rem;
    font-weight: var(--font-weight-bold);
}

@media (max-width: 768px) {
    article .accessoriesHeader h1,
    article .accessoriesHeader h2 {
        font-size: 1rem;
        text-align: center;
    }
}

/* carAccessories */

.carAccessories {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding: 0rem 4rem;
}

@media (max-width: 768px) {
    .carAccessories {
        padding: 0rem 1rem;
    }
}

.accessoriesCarBlock {
    display: flex;
    opacity: 0;
    transform: translateY(10rem);
    transition: all 0.3s ease;
}

.accessoriesCarBlock.visible {
    opacity: 1;
    transform: translateY(0rem);
}

@media (max-width: 768px) {
    .accessoriesCarBlock {
        flex-direction: column;
    }
}

.accessoriesCarBlock img {
    width: 60%;
    height: auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    .accessoriesCarBlock img {
        width: 100%;
    }
}

.carBlockText {
    background-color: #493628;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 2rem 3rem;
    width: 20%;
    height: auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    .carBlockText {
        border-radius: 0px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 100%;
        padding: 1.5rem 1rem;
    }
}

.carBlockText details {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 300;
    color: #FBF8EF;
}

.carBlockText details summary {
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .carBlockText details {
        font-size: 0.8rem;
    }

    .carBlockText details summary {
        font-size: 1rem;
    }
}

.configuratorButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family: var(--font-family);
}

.configuratorButton h3 {
    font-size: 1.5rem;
    font-weight: 300;
}

.configuratorButton button {
    background-color: #7E634F;
    padding: 1rem 2rem;
    border-radius: 20px;
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: var(--font-weight-regular);
    color: #FBF8EF;
    border: none;
}

@media (max-width: 768px) {
    .configuratorButton h3 {
        font-size: 1rem;
    }

    .configuratorButton button {
        font-size: 1rem;
    }
}

/* question */

.porscheQuestion {
    display: flex;
    align-items: center;
    gap: 3rem;
}

@media (max-width: 768px) {
    .porscheQuestion {
        flex-direction: column;
        gap: 0rem;
    }
}

.porscheQuestion img {
    width: 70%;
    height: auto;
    opacity: 0;
    transform: translateY(10rem);
    transition: all 0.3s ease;
}

.porscheQuestion img.visible {
    opacity: 1;
    transform: translateY(0rem);
}

@media (max-width: 768px) {
    .porscheQuestion img {
        width: 100%;
        height: 20rem;
        object-fit: cover;
    }
}

.porscheQuestion .questionText {
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: var(--font-family);
    opacity: 0;
    transform: translateY(10rem);
    transition: all 0.3s ease;
}

.porscheQuestion .questionText.visible {
    opacity: 1;
    transform: translateY(0rem);
}

@media (max-width: 768px) {
    .porscheQuestion .questionText {
        width: 100%;
        padding: 0rem 1rem;
    }
}

.porscheQuestion .questionText h3 {
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
    color: #4F4F4F;
}

.porscheQuestion .questionText p {
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: #4F4F4F;
}

@media (max-width: 768px) {
    .porscheQuestion .questionText h3 {
        color: #FBF8EF;
        transform: translateY(-3rem);
    }

    .porscheQuestion .questionText p {
        transform: translateY(-2rem);
    }
}

/* brandAccessories */

.accessoriesBrandHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-family);
}

.accessoriesBrandHeader h3 {
    font-size: 1.5rem;
    font-weight: 300;
}

.accessoriesBrandHeader h4 {
    font-size: 1.8rem;
    font-weight: var(--font-weight-bold);
}

@media (max-width: 768px) {
    .accessoriesBrandHeader h3,
    .accessoriesBrandHeader h4 {
        font-size: 1rem;
    }
}

.accessoriesBrand {
    background-color: #493628;
    padding: 4rem 7rem 8rem;
    display: flex;
    align-items: center;
    gap: 4rem;
}

@media (max-width: 768px) {
    .accessoriesBrand {
        padding: 3rem 1.5rem;
        flex-direction: column;
        overflow: hidden;
    }
}

.accessoriesBrand img {
    border-radius: 20px;
    width: 70%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateX(-20rem);
    transition: all 0.3s ease;
}

.accessoriesBrand img.visible {
    opacity: 1;
    transform: translateX(0rem);
}

@media (max-width: 768px) {
    .accessoriesBrand img {
        width: 100%;
        transform: translateX(-10rem);
    }
}

.brandBlockText {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: var(--font-family);
    opacity: 0;
    transform: translateX(20rem);
    transition: all 0.3s ease;
}

.brandBlockText.visible {
    opacity: 1;
    transform: translateY(0rem);
}

@media (max-width: 768px) {
    .brandBlockText {
        transform: translateX(10rem);
    }
}

.brandBlockText h5 {
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
    color: #FBF8EF;
}

.brandBlockText p {
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: #FBF8EF;
    width: 80%;
}

@media (max-width: 768px) {
    .brandBlockText h5 {
        font-size: 1rem;
    }

    .brandBlockText p {
        font-size: 0.8rem;
        width: 100%;
    }
}

/* footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #292929;
    padding: 7.5rem 7.5rem;
    overflow: hidden;
}

@media (max-width: 768px) {
    footer {
        padding: 2rem 2.5rem;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }
}

footer img {
    width: 100%; 
    height: auto; 
    max-width: 50%; 
    display: block;
    opacity: 0;
    transform: translateX(50rem);
    transition: all 0.8s ease;
}

footer img.visible {
    opacity: 1;
    transform: translateX(0rem);
}

@media (max-width: 768px) {
    footer img {
        transform: translateX(0rem);
    }
}

.menuButtons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (max-width: 768px) {
    .menuButtons {
        gap: 1.5rem;
    }

    .menuButtons:nth-child(1),
    .menuButtons:nth-child(3) {
        align-items: center;
    }
}

.footerButton {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color: #FBF8EF;
    transition: all 0.3s ease-in-out;
}

.menuButtons:nth-of-type(1) .footerButton:hover {
    transform: scale(1.05);
    color: #FFF3D0;
}

@media (max-width: 768px) {
    .footerButton {
        font-size: 0.8rem;
    }
}