* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}


body {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    background-color: #FBF8EF;
}

/* header - nav */

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 40px 10px;
}

header .logo {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%); 
}

nav {
    display: flex;
    justify-content: center; 
    flex-grow: 1; 
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 35px;
    list-style: none;
}

.navButton {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: #4F4F4F;
    transition: all 0.3s ease;
    position: relative;
}

.nav-list > li:first-of-type > .navButton {
    font-weight: var(--font-weight-bold);
}

.navButton:hover {
    font-weight: 900;
    color: #2C2C2C;
}

.subMenu {
    position: absolute;
    top: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index: 1000;
    display: none;
    opacity: 0;
    background-color: #D9D9D9;
    padding: 3.5rem 1.5rem;
    border-radius: 10px;
    gap: 30px;
    transition: opacity 0.3s ease-in-out;
}

.subMenu a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.subMenu p {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color: #4F4F4F;
}

.subMenu li {
    list-style: none;
    padding: 10px;
    transition: all 0.5 ease;
}

.subMenu li:hover {
    background-color: white;
    border-radius: 10px;
}

.navButton:hover + .subMenu,
.subMenu:hover {
    display: grid;
    opacity: 1;
}

.contactsMenu {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    background-color: #D9D9D9;
    padding: 3.5rem 1.5rem 12.5rem 1.5rem;
    border-radius: 10px;
    z-index: 1000;
    overflow: hidden;
    display: none;
    transition: all 0.3s ease;
}

.contactsMenu.visible {
    display: flex; 
    opacity: 1;
}

.contactsMenu.hidden {
    opacity: 0;
    display: none;
}

.contactsMenu li {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.contactsMenu h2 {
    font-family: var(--font-family);
    font-size: 1.25rem;
    font-weight: var(--font-weight-bold);
    color: #4F4F4F;
}

.contactsMenu dt {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 0.5rem;
    font-weight: var(--font-weight-bold);
    color: #4F4F4F;
    font-style: normal; 
}

.contactsMenu dd {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color: #686868;
    margin-bottom: 8px;
    font-style: normal; 
}

.contactsMenu dd a {
    text-decoration: none; 
    color: inherit;
    font-style: normal; 
}

.contactsMenu img {
    position: absolute;
    right: -3rem;
    scale: 0.5;
    opacity: 0.5;
    filter: grayscale(100%);
    transform: scaleX(-1);
}

.servicesMenu {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #D9D9D9;
    padding: 2rem 3rem;
    list-style: none;
    border-radius: 10px;
    z-index: 1000;
    display: none;
    transition: opacity 0.3s ease-in-out;
}

.servicesMenu.visible {
    display: flex; 
    opacity: 1;
}

.servicesMenu.hidden {
    opacity: 0;
    display: none;
}

.servicesMenu a {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: #4F4F4F;
    transition: all 0.3s ease;
}

.servicesMenu a:hover {
    font-weight: var(--font-weight-bold);
}

.accessoriesMenu {
    position: absolute;
    top: 100%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #D9D9D9;
    padding: 2rem 3rem 7rem 3rem;
    overflow: hidden;
    list-style: none;
    display: none;
    border-radius: 10px;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
}

.accessoriesMenu.visible {
    display: flex; 
    opacity: 1;
}

.accessoriesMenu.hidden {
    opacity: 0;
    display: none;
}

.accessoriesMenu a {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: #4F4F4F;
    transition: all 0.3s ease;
}

.accessoriesMenu a:hover {
    font-weight: var(--font-weight-bold);
}

.accessoriesMenu img {
    position: absolute;
    top: 8rem;
    left: 8rem;
    opacity: 0.5;
}


/* main */

main {
    display: flex;
    flex-direction: column;
    gap: 12.5rem;
}

/* article */

:root {
    --font-family: "Unbounded";
    --font-weight-bold: 800;
    --font-weight-regular: 400;
    --font-color: #292929;
}

article {
    padding: 3rem 6rem;
    display: flex;
    flex-direction: column;
    background-color: #493628;
}

article img {
    max-width: 100%;  
    height: auto; 
    display: flex;
    justify-content: center;
    transform: scale(0.8);
}

.modelCar {
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
    color: #FBF8EF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modelCar h2 {
    font-size: 1.25rem;
    font-weight: var(--font-weight-regular);
}

.modelCar span {
    font-size: 1rem;
}

/* detailInfo */

.detailInfo {
    margin-top: 8rem;
    background-color: #FBF8EF;
    border-radius: 20px;
    padding: 1.5rem 2rem;
    text-align: center;
}

.detailInfo ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.detailInfo li {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: #493628;
}

.detailInfo li span {
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
}

/* buttons */

.buttons {
    padding: 0 9.5rem;
    margin: 8rem 0rem;
}

.buttons ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.buttons li {
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    background-color: #493628;
    border: 5px solid #FBF8EF;
    border-radius: 20px;
    width: 240px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons li:hover {
    background-color: #FBF8EF;
}

.buttons a {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: #FBF8EF;
    transition: all 0.3s ease;
}

.buttons li:hover a {
    color: #493628;
}

/* footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #292929;
    padding: 7.5rem 7.5rem;
}

footer img {
    width: 100%; 
    height: auto; 
    max-width: 50%; 
    display: block;
}

.menuButtons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footerButton {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color: #FBF8EF;
    transition: all 0.3 ease;
}