* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}


body {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    background-color: #FBF8EF;
}

/* header - nav */

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 40px 10px;
}

header .logo {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%); 
}

nav {
    display: flex;
    justify-content: center; 
    flex-grow: 1; 
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 35px;
    list-style: none;
}

.nav-list > li:nth-of-type(3) > .navButton {
    font-weight: var(--font-weight-bold);
}

.navButton {
    text-decoration: none;
    font-family: "Unbounded";
    font-size: 1rem;
    font-weight: 400;
    color: #4F4F4F;
    transition: all 0.3s ease;
    position: relative;
}

.navButton:hover {
    font-weight: 900;
    color: #2C2C2C;
}

.subMenu {
    position: absolute;
    top: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index: 1000;
    display: none;
    opacity: 0;
    background-color: #D9D9D9;
    padding: 3.5rem 1.5rem;
    border-radius: 10px;
    gap: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
}

.subMenu.visible {
    display: grid; 
    opacity: 1;
}

.subMenu.hidden {
    opacity: 0;
    display: none;
}

.subMenu a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.subMenu p {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color: #4F4F4F;
}

.subMenu li {
    list-style: none;
    padding: 10px;
    transition: all 0.5 ease;
}

.subMenu li:hover {
    background-color: white;
    border-radius: 10px;
}


.contactsMenu {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    background-color: #D9D9D9;
    padding: 3.5rem 1.5rem 12.5rem 1.5rem;
    border-radius: 10px;
    z-index: 1000;
    overflow: hidden;
    display: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.contactsMenu.visible {
    display: flex; 
    opacity: 1;
}

.contactsMenu.hidden {
    opacity: 0;
    display: none;
}

.contactsMenu li {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.contactsMenu h2 {
    font-family: var(--font-family);
    font-size: 1.25rem;
    font-weight: var(--font-weight-bold);
    color: #4F4F4F;
}

.contactsMenu dt {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 0.5rem;
    font-weight: var(--font-weight-bold);
    color: #4F4F4F;
    font-style: normal; 
}

.contactsMenu dd {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color: #686868;
    margin-bottom: 8px;
    font-style: normal; 
}

.contactsMenu dd a {
    text-decoration: none; 
    color: inherit;
    font-style: normal; 
}

.contactsMenu img {
    position: absolute;
    right: -3rem;
    scale: 0.5;
    opacity: 0.5;
    filter: grayscale(100%);
    transform: scaleX(-1);
}

.servicesMenu {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #D9D9D9;
    padding: 2rem 3rem;
    list-style: none;
    border-radius: 10px;
    z-index: 1000;
    display: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
}

.servicesMenu.visible {
    display: flex; 
    opacity: 1;
}

.servicesMenu.hidden {
    opacity: 0;
    display: none;
}

.servicesMenu a {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: #4F4F4F;
    transition: all 0.3s ease;
}

.servicesMenu a:hover {
    font-weight: var(--font-weight-bold);
}

.accessoriesMenu {
    position: absolute;
    top: 100%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #D9D9D9;
    padding: 2rem 3rem 7rem 3rem;
    overflow: hidden;
    list-style: none;
    display: none;
    border-radius: 10px;
    z-index: 1000;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
}

.accessoriesMenu.visible {
    display: flex; 
    opacity: 1;
}

.accessoriesMenu.hidden {
    opacity: 0;
    display: none;
}

.accessoriesMenu a {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: #4F4F4F;
    transition: all 0.3s ease;
}

.accessoriesMenu a:hover {
    font-weight: var(--font-weight-bold);
}

.accessoriesMenu img {
    position: absolute;
    top: 8rem;
    left: 8rem;
    opacity: 0.5;
}

/* main */

main {
    display: flex;
    flex-direction: column;
    gap: 12rem;
    margin-bottom: 10rem;
}

/* article */

:root {
    --font-family: "Unbounded";
    --font-weight-bold: 800;
    --font-weight-regular: 400;
    --font-color: #292929;
}

article {
    display: flex;
    flex-direction: column;
    gap: 15rem;
}

.stepBlock {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    padding: 3rem;
    width: 70%;
    background-color: #493628;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
}

.stepBlock h1 {
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
    color: #FBF8EF;
}

.stepBlock p {
    font-family: var(--font-family);
    font-size: 0.8rem;
    font-weight: 300;
    color: #FBF8EF;
}

.stepBlock button {
    background-color: #FBF8EF;
    border-radius: 20px;
    padding: 0.5rem 3rem;
    border: none;
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
    color: #493628;
    width: 30%;
}

.stepBlock img {
    position: absolute;
    bottom: -3rem;
    right: -30rem;
}

.stepBlock:nth-child(2) {
    margin-left: auto;
    direction: rtl;
    border-radius: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.stepBlock:nth-child(2) img {
    position: absolute;
    right: 40rem;
    bottom: 0rem;
}

.stepBlock:nth-child(3) img {
    position: absolute;
    bottom: 0rem;
}

.choiceCar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}

.choiceCar h2 {
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: var(--font-weight-regular);
    color: #FBF8EF;
}

.choiceCar select {
    font-family: var(--font-family);
    font-size: 0.8rem;
    font-weight: 300;
    color: #FBF8EF;
    background-color: #7E634F;
    padding: 1rem 2rem;
    border-radius: 20px;
    border: none;
    width: 50%;
}

.choiceCar img {
    position: absolute;
}

.choiceCar ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 0rem;
    width: 70%;
}

.choiceCar li {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.choiceCar li label {
    font-family: var(--font-family);
    font-size: 0.8rem;
    font-weight: 300;
    color: #FBF8EF;
    opacity: 0.5;
    margin-left: 0.8rem;
}

.choiceCar li input {
    background-color: #7E634F;
    border-radius: 20px;
    width: 50%;
    border: none;
    color: #FBF8EF;
    padding: 0.8rem 1rem;
}

.price {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.price h2 {
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: var(--font-weight-regular);
    color: #FBF8EF;
}

.price p {
    font-family: var(--font-family);
    font-size: 0.8rem;
    font-weight: 300;
    color: #FBF8EF;
}

/* text */

.generalInfo {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding-right: 5rem;
}

.generalInfo img {
    width: 60%;
}

.generalInfo .text {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color: #4F4F4F;
}

.generalInfo .text p {
    font-size: 0.8rem;
    font-weight: var(--font-weight-regular);
}

/* footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #292929;
    padding: 7.5rem 7.5rem;
}

footer img {
    width: 100%; 
    height: auto; 
    max-width: 50%; 
    display: block;
}

.menuButtons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footerButton {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color: #FBF8EF;
    transition: all 0.3 ease;
}