* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}


body {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    background-color: #FBF8EF;
}

@media (max-width: 768px) {
    body {
        gap: 6rem;
    }

    .no-scroll {
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1009;
    }
}

/* header - nav */

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 40px 10px;
}

@media (max-width: 768px) {
    header {
        justify-content: center;
        align-items: center;
        margin: 1rem 2rem 0rem;
    }

    header button {
        border: none; 
        z-index: 1011;
    }
}

@media (max-width: 768px) {
    .headerLogo {
        display: flex;
        justify-content: center;
        align-items: end;
        flex-grow: 1;
    }

    .headerLogo p {
        font-family: var(--font-family);
        font-size: 1rem;
        font-weight: var(--font-weight-bold);
        color: var(--font-color);
    }

    .headerLogo img {
        width: 30%;
        height: auto;
        transform: translateX(-0.5rem);
    }
}

header .logo {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%); 
}

nav {
    display: flex;
    justify-content: center; 
    flex-grow: 1; 
}

@media (max-width: 768px) {
    nav {
        opacity: 0;
        position: fixed;
        justify-content: start;
        top: 0;
        left: -100%;
        width: 80%;
        height: 100%;
        background-color: #FBF8EF;
        padding: 7rem 2rem;
        z-index: 1010;
        transition: all 0.3s ease;
    }

    nav.visible {
        display: flex;
        opacity: 1;
        left: 0;
    }
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 35px;
    list-style: none;
}

@media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
    }
}

.nav-list > li:nth-of-type(4) > .navButton {
    font-weight: var(--font-weight-bold);
}

.navButton {
    text-decoration: none;
    font-family: "Unbounded";
    font-size: 1rem;
    font-weight: 400;
    color: #4F4F4F;
    transition: all 0.3s ease;
    position: relative;
}

.navButton:hover {
    font-weight: 900;
    color: #2C2C2C;
}

.subMenu {
    position: absolute;
    top: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index: 1000;
    display: none;
    opacity: 0;
    background-color: #D9D9D9;
    padding: 3.5rem 1.5rem;
    border-radius: 10px;
    gap: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
}

.subMenu.visible {
    display: grid; 
    opacity: 1;
}

.subMenu.hidden {
    opacity: 0;
    display: none;
}

.subMenu a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.subMenu p {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color: #4F4F4F;
}

.subMenu li {
    list-style: none;
    padding: 10px;
    transition: all 0.5 ease;
}

.subMenu li:hover {
    background-color: white;
    border-radius: 10px;
}


.contactsMenu {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    background-color: #D9D9D9;
    padding: 3.5rem 1.5rem 12.5rem 1.5rem;
    border-radius: 10px;
    z-index: 1000;
    overflow: hidden;
    display: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.contactsMenu.visible {
    display: flex; 
    opacity: 1;
}

.contactsMenu.hidden {
    opacity: 0;
    display: none;
}

.contactsMenu li {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.contactsMenu h2 {
    font-family: var(--font-family);
    font-size: 1.25rem;
    font-weight: var(--font-weight-bold);
    color: #4F4F4F;
}

.contactsMenu dt {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 0.5rem;
    font-weight: var(--font-weight-bold);
    color: #4F4F4F;
    font-style: normal; 
}

.contactsMenu dd {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color: #686868;
    margin-bottom: 8px;
    font-style: normal; 
}

.contactsMenu dd a {
    text-decoration: none; 
    color: inherit;
    font-style: normal; 
}

.contactsMenu img {
    position: absolute;
    right: -3rem;
    scale: 0.5;
    opacity: 0.5;
    filter: grayscale(100%);
    transform: scaleX(-1);
}

.servicesMenu {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #D9D9D9;
    padding: 2rem 3rem;
    list-style: none;
    border-radius: 10px;
    z-index: 1000;
    display: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
}

.servicesMenu.visible {
    display: flex; 
    opacity: 1;
}

.servicesMenu.hidden {
    opacity: 0;
    display: none;
}

.servicesMenu a {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: #4F4F4F;
    transition: all 0.3s ease;
}

.servicesMenu a:hover {
    font-weight: var(--font-weight-bold);
}

.accessoriesMenu {
    position: absolute;
    top: 100%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #D9D9D9;
    padding: 2rem 3rem 7rem 3rem;
    overflow: hidden;
    list-style: none;
    display: none;
    border-radius: 10px;
    z-index: 1000;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
}

.accessoriesMenu.visible {
    display: flex; 
    opacity: 1;
}

.accessoriesMenu.hidden {
    opacity: 0;
    display: none;
}

.accessoriesMenu a {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: #4F4F4F;
    transition: all 0.3s ease;
}

.accessoriesMenu a:hover {
    font-weight: var(--font-weight-bold);
}

.accessoriesMenu img {
    position: absolute;
    top: 8rem;
    left: 8rem;
    opacity: 0.5;
}

/* main */

main {
    display: flex;
    flex-direction: column;
    gap: 12rem;
    margin-bottom: 10rem;
}

@media (max-width: 768px) {
    main {
        gap: 8rem;
    }
}

/* article */

:root {
    --font-family: "Unbounded";
    --font-weight-bold: 800;
    --font-weight-regular: 400;
    --font-color: #292929;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
}

article img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    article img {
        width: 100%;
        height: 20rem;
        object-fit: cover;
    }
}

article .accessoriesHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family: var(--font-family);
}

article .accessoriesHeader h1 {
    font-size: 1.5rem;
    font-weight: 300;
}

article .accessoriesHeader h2 {
    font-size: 1.8rem;
    font-weight: var(--font-weight-bold);
}

@media (max-width: 768px) {
    article .accessoriesHeader h1,
    article .accessoriesHeader h2 {
        font-size: 1rem;
        text-align: center;
    }
}

/* carAccessories */

.carAccessories {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding: 0rem 4rem;
}

@media (max-width: 768px) {
    .carAccessories {
        padding: 0rem 1rem;
    }
}

.accessoriesCarBlock {
    display: flex;
    opacity: 0;
    transform: translateY(10rem);
    transition: all 0.3s ease;
}

.accessoriesCarBlock.visible {
    opacity: 1;
    transform: translateY(0rem);
}

@media (max-width: 768px) {
    .accessoriesCarBlock {
        flex-direction: column;
    }
}

.accessoriesCarBlock img {
    width: 60%;
    height: auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    .accessoriesCarBlock img {
        width: 100%;
    }
}

.carBlockText {
    background-color: #493628;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 2rem 3rem;
    width: 20%;
    height: auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    .carBlockText {
        border-radius: 0px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 100%;
        padding: 1.5rem 1rem;
    }
}

.carBlockText details {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 300;
    color: #FBF8EF;
}

.carBlockText details summary {
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .carBlockText details {
        font-size: 0.8rem;
    }

    .carBlockText details summary {
        font-size: 1rem;
    }
}

.configuratorButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family: var(--font-family);
}

.configuratorButton h3 {
    font-size: 1.5rem;
    font-weight: 300;
}

.configuratorButton button {
    background-color: #7E634F;
    padding: 1rem 2rem;
    border-radius: 20px;
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: var(--font-weight-regular);
    color: #FBF8EF;
    border: none;
}

@media (max-width: 768px) {
    .configuratorButton h3 {
        font-size: 1rem;
    }

    .configuratorButton button {
        font-size: 1rem;
    }
}

/* question */

.porscheQuestion {
    display: flex;
    align-items: center;
    gap: 3rem;
}

@media (max-width: 768px) {
    .porscheQuestion {
        flex-direction: column;
        gap: 0rem;
    }
}

.porscheQuestion img {
    width: 70%;
    height: auto;
    opacity: 0;
    transform: translateY(10rem);
    transition: all 0.3s ease;
}

.porscheQuestion img.visible {
    opacity: 1;
    transform: translateY(0rem);
}

@media (max-width: 768px) {
    .porscheQuestion img {
        width: 100%;
        height: 20rem;
        object-fit: cover;
    }
}

.porscheQuestion .questionText {
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: var(--font-family);
    opacity: 0;
    transform: translateY(10rem);
    transition: all 0.3s ease;
}

.porscheQuestion .questionText.visible {
    opacity: 1;
    transform: translateY(0rem);
}

@media (max-width: 768px) {
    .porscheQuestion .questionText {
        width: 100%;
        padding: 0rem 1rem;
    }
}

.porscheQuestion .questionText h3 {
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
    color: #4F4F4F;
}

.porscheQuestion .questionText p {
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: #4F4F4F;
}

@media (max-width: 768px) {
    .porscheQuestion .questionText h3 {
        color: #FBF8EF;
        transform: translateY(-3rem);
    }

    .porscheQuestion .questionText p {
        transform: translateY(-2rem);
    }
}

/* brandAccessories */

.accessoriesBrandHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-family);
}

.accessoriesBrandHeader h3 {
    font-size: 1.5rem;
    font-weight: 300;
}

.accessoriesBrandHeader h4 {
    font-size: 1.8rem;
    font-weight: var(--font-weight-bold);
}

@media (max-width: 768px) {
    .accessoriesBrandHeader h3,
    .accessoriesBrandHeader h4 {
        font-size: 1rem;
    }
}

.accessoriesBrand {
    background-color: #493628;
    padding: 4rem 7rem 8rem;
    display: flex;
    align-items: center;
    gap: 4rem;
}

@media (max-width: 768px) {
    .accessoriesBrand {
        padding: 3rem 1.5rem;
        flex-direction: column;
    }
}

.accessoriesBrand img {
    border-radius: 20px;
    width: 70%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateX(-20rem);
    transition: all 0.3s ease;
}

.accessoriesBrand img.visible {
    opacity: 1;
    transform: translateX(0rem);
}

@media (max-width: 768px) {
    .accessoriesBrand img {
        width: 100%;
        transform: translateX(-10rem);
    }
}

.brandBlockText {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: var(--font-family);
    opacity: 0;
    transform: translateX(20rem);
    transition: all 0.3s ease;
}

.brandBlockText.visible {
    opacity: 1;
    transform: translateY(0rem);
}

.brandBlockText h5 {
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
    color: #FBF8EF;
}

.brandBlockText p {
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: #FBF8EF;
    width: 80%;
}

@media (max-width: 768px) {
    .brandBlockText h5 {
        font-size: 1rem;
    }

    .brandBlockText p {
        font-size: 0.8rem;
        width: 100%;
    }
}

/* footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #292929;
    padding: 7.5rem 7.5rem;
    overflow: hidden;
}

@media (max-width: 768px) {
    footer {
        padding: 2rem 2.5rem;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }
}

footer img {
    width: 100%; 
    height: auto; 
    max-width: 50%; 
    display: block;
    opacity: 0;
    transform: translateX(50rem);
    transition: all 0.8s ease;
}

footer img.visible {
    opacity: 1;
    transform: translateX(0rem);
}

@media (max-width: 768px) {
    footer img {
        transform: translateX(0rem);
    }
}

.menuButtons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (max-width: 768px) {
    .menuButtons {
        gap: 1.5rem;
    }

    .menuButtons:nth-child(1),
    .menuButtons:nth-child(3) {
        align-items: center;
    }
}

.footerButton {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color: #FBF8EF;
    transition: all 0.3s ease-in-out;
}

.menuButtons:nth-of-type(1) .footerButton:hover {
    transform: scale(1.05);
    color: #FFF3D0;
}

@media (max-width: 768px) {
    .footerButton {
        font-size: 0.8rem;
    }
}