* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 12rem;
    background-color: #FBF8EF;
}

@media (max-width: 768px) {
    body {
        gap: 6rem;
    }

    .no-scroll {
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1009;
    }
}

/* header - nav */

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 40px 10px;
}

@media (max-width: 768px) {
    header {
        justify-content: center;
        align-items: center;
        margin: 1rem 2rem 0rem;
    }

    header button {
        border: none; 
        z-index: 1011;
    }
}

@media (max-width: 768px) {
    .headerLogo {
        display: flex;
        justify-content: center;
        align-items: end;
        flex-grow: 1;
    }

    .headerLogo a {
        text-decoration: none;
        font-family: var(--font-family);
        font-size: 1rem;
        font-weight: var(--font-weight-bold);
        color: var(--font-color);
    }

    .headerLogo img {
        width: 30%;
        height: auto;
        transform: translateX(-0.5rem);
    }
}

header .logo {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%); 
}

nav {
    display: flex;
    justify-content: center; 
    flex-grow: 1; 
}

@media (max-width: 768px) {
    nav {
        opacity: 0;
        position: fixed;
        justify-content: start;
        top: 0;
        left: -100%;
        width: 80%;
        height: 100%;
        background-color: #FBF8EF;
        padding: 7rem 2rem;
        z-index: 1010;
        transition: all 0.3s ease;
    }

    nav.visible {
        display: flex;
        opacity: 1;
        left: 0;
    }
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 35px;
    list-style: none;
}

@media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
    }
}

.navButton {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: #4F4F4F;
    transition: all 0.3s ease;
    position: relative;
}

.nav-list > li:first-of-type > .navButton {
    font-weight: var(--font-weight-bold);
}

.navButton:hover {
    font-weight: 900;
    color: #2C2C2C;
}

.subMenu {
    position: absolute;
    top: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index: 1000;
    display: none;
    opacity: 0;
    background-color: #D9D9D9;
    padding: 3.5rem 1.5rem;
    border-radius: 10px;
    gap: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
}

.subMenu.visible {
    display: grid; 
    opacity: 1;
}

.subMenu.hidden {
    opacity: 0;
    display: none;
}

@media (max-width: 768px) {
    .subMenuPhone {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        list-style: none;
        margin-top: 3rem;
    }

    .subMenuPhone a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

    .subMenuPhone p {
        font-size: 0.5rem;
        font-weight: var(--font-weight-bold);
        color: #4F4F4F;
    }

    .subMenuPhone img {
        width: 100%;
        height: auto;
    }
}

.subMenu a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.subMenu p {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color: #4F4F4F;
}

.subMenu li {
    list-style: none;
    padding: 10px;
    transition: all 0.5 ease;
}

.subMenu li:hover {
    background-color: white;
    border-radius: 10px;
}

.navButton:hover + .subMenu,
.subMenu:hover {
    display: grid;
    opacity: 1;
}

.contactsMenu {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    background-color: #D9D9D9;
    padding: 3.5rem 1.5rem 12.5rem 1.5rem;
    border-radius: 10px;
    z-index: 1000;
    overflow: hidden;
    display: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.contactsMenu.visible {
    display: flex; 
    opacity: 1;
}

.contactsMenu.hidden {
    opacity: 0;
    display: none;
}

.contactsMenu li {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.contactsMenu h2 {
    font-family: var(--font-family);
    font-size: 1.25rem;
    font-weight: var(--font-weight-bold);
    color: #4F4F4F;
}

.contactsMenu dt {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 0.5rem;
    font-weight: var(--font-weight-bold);
    color: #4F4F4F;
    font-style: normal; 
}

.contactsMenu dd {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color: #686868;
    margin-bottom: 8px;
    font-style: normal; 
}

.contactsMenu dd a {
    text-decoration: none; 
    color: inherit;
    font-style: normal; 
}

.contactsMenu img {
    position: absolute;
    right: -3rem;
    scale: 0.5;
    opacity: 0.5;
    filter: grayscale(100%);
    transform: scaleX(-1);
}

.servicesMenu {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #D9D9D9;
    padding: 2rem 3rem;
    list-style: none;
    border-radius: 10px;
    z-index: 1000;
    display: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
}

.servicesMenu.visible {
    display: flex; 
    opacity: 1;
}

.servicesMenu.hidden {
    opacity: 0;
    display: none;
}

.servicesMenu a {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: #4F4F4F;
    transition: all 0.3s ease;
}

.servicesMenu a:hover {
    font-weight: var(--font-weight-bold);
}

.accessoriesMenu {
    position: absolute;
    top: 100%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #D9D9D9;
    padding: 2rem 3rem 7rem 3rem;
    overflow: hidden;
    list-style: none;
    display: none;
    border-radius: 10px;
    z-index: 1000;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
}

.accessoriesMenu.visible {
    display: flex; 
    opacity: 1;
}

.accessoriesMenu.hidden {
    opacity: 0;
    display: none;
}

.accessoriesMenu a {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: #4F4F4F;
    transition: all 0.3s ease;
}

.accessoriesMenu a:hover {
    font-weight: var(--font-weight-bold);
}

.accessoriesMenu img {
    position: absolute;
    top: 8rem;
    left: 8rem;
    opacity: 0.5;
}


/* main */

main {
    display: flex;
    flex-direction: column;
    gap: 12.5rem;
}

@media (max-width: 768px) {
    main {
        gap: 8rem;
    }
}

/* article */

:root {
    --font-family: "Unbounded";
    --font-weight-bold: 800;
    --font-weight-regular: 400;
    --font-color: #292929;
}

article {
    position: relative;
    padding: 0rem 8rem;
    display: flex;
    flex-direction: column;
    gap: 15rem;
}

@media (max-width: 768px) {
    article {
        padding: 0rem 1.5rem;
    }
}

/* containerCar */


.typeContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    display: flex;
    justify-content: space-between;
    position: relative;
    width: auto;
    height: auto;
}

@media (max-width: 768px) {
    .typeContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem 1rem;
        width: 100%;
    }
}

.typeContainer h1 {
    position: absolute;
    top: -10%;
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: 600;
    color: #4F4F4F;
}

@media (max-width: 768px) {
    .typeContainer h1 {
        font-size: 1.2rem;
    }
}

.carLink {
    text-decoration: none;
    max-width: 30%;
    height: auto;
}

.carContainer {
    padding: 3rem 1.5rem 2rem 1.5rem;
    background-color: #D9D9D9;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .carContainer {
        padding: 2rem 0.5rem 1.5rem;
        width: 10rem;
        gap: 1rem;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }
}

.carContainer:hover {
    transform: scale(1.03);
    background-color: #F1F1F1;
}

.carContainer h2, h3 {
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: var(--font-weight-regular);
    color: black;
}

.carContainer h3 {
    font-weight: 500;
}

@media (max-width: 768px) {
    .carContainer h2,
    .carContainer h3 {
        font-size: 1rem;
    }
}

.carContainer p {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 200;
    color: black;
}

@media (max-width: 768px) {
    .carContainer p {
        font-size: 0.5rem;
    }
}

.addInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .addInfo {
        margin-bottom: 1rem;
        gap: 0.5rem 1rem;
    }
}

/* blockquote */

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transform: translateY(2rem);
    opacity: 0;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .text {
        padding: 0rem 2rem;
    }
}

.text.visible {
    transform: translateY(0rem);
    opacity: 1;
}

.text p:first-of-type {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 600;
    color: var(--font-color);
}

.text p:nth-of-type(2) {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: var(--font-color);
    text-align: center;
    max-width: 600px;
}

@media (max-width: 768px) {
    .text p:first-of-type {
        font-size: 0.8rem;
    }

    .text p:last-of-type {
        font-size: 0.5rem;
    }
}

.otherModelsMessage {
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    text-align: center;
}

/* preFooter */

.preFooter {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    transform: translateY(2rem);
    opacity: 0;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .preFooter {
        flex-direction: column;
        gap: 1rem;
    }
}

.preFooter.visible {
    opacity: 1;
    transform: translateY(0rem);
}

.preFooter img {
    width: 60%;
}

@media (max-width: 768px) {
    .preFooter img {
        height: 20rem;
        width: 100%;
        object-fit: cover;
    }
}

.question {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 37rem;
    transform: translateY(2rem);
    opacity: 0;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .question {
        padding: 0rem 1rem;
        width: 100%;
        gap: 0rem;
    }
}

.question.visible {
    opacity: 1;
    transform: translateY(0rem);
}

.question h2 {
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: 600;
    color: #4F4F4F;
}

.question p {
    font-family: var(--font-family);
    font-size: 0.8rem;
    font-weight: var(--font-weight-regular);
    width: 80%;
    color: #292929;
}

@media (max-width: 768px) {
    .question h2 {
        transform: translateY(-4rem);
        font-size: 1rem;
        color: #FBF8EF;
    }

    .question p {
        font-size: 0.5;
    }
}

/* footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #292929;
    padding: 7.5rem 7.5rem;
    overflow: hidden;
}

@media (max-width: 768px) {
    footer {
        padding: 2rem 2.5rem;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }
}

footer img {
    width: 100%; 
    height: auto; 
    max-width: 50%; 
    display: block;
    opacity: 0;
    transform: translateX(50rem);
    transition: all 0.8s ease;
}

@media (max-width: 768px) {
    footer img {
        transform: translateX(0rem);
    }
}

footer img.visible {
    opacity: 1;
    transform: translateX(0rem);
}

.menuButtons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (max-width: 768px) {
    .menuButtons {
        gap: 1.5rem;
    }

    .menuButtons:nth-child(1),
    .menuButtons:nth-child(3) {
        align-items: center;
    }
}

.footerButton {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color: #FBF8EF;
    transition: all 0.3s ease-in-out;
}

.menuButtons:nth-of-type(1) .footerButton:hover {
    transform: scale(1.05);
    color: #FFF3D0;
}

@media (max-width: 768px) {
    .footerButton {
        font-size: 0.8rem;
    }
}