* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    background-color: #FBF8EF;
}

/* header - nav */

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 40px 10px;
}

header .logo {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%); 
}

nav {
    display: flex;
    justify-content: center; 
    flex-grow: 1; 
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 35px;
    list-style: none;
}

.navButton {
    text-decoration: none;
    font-family: "Unbounded";
    font-size: 1rem;
    font-weight: 400;
    color: #4F4F4F;
    transition: all 0.3s ease;
    position: relative;
}

.navButton:hover {
    font-weight: 900;
    color: #2C2C2C;
}

.subMenu {
    position: absolute;
    top: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index: 1000;
    display: none;
    opacity: 0;
    background-color: #D9D9D9;
    padding: 3.5rem 1.5rem;
    border-radius: 10px;
    gap: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
}

.subMenu.visible {
    display: grid; 
    opacity: 1;
}

.subMenu.hidden {
    opacity: 0;
    display: none;
}

.subMenu a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.subMenu p {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color: #4F4F4F;
}

.subMenu li {
    list-style: none;
    padding: 10px;
    transition: all 0.5 ease;
}

.subMenu li:hover {
    background-color: white;
    border-radius: 10px;
}


.contactsMenu {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    background-color: #D9D9D9;
    padding: 3.5rem 1.5rem 12.5rem 1.5rem;
    border-radius: 10px;
    z-index: 1000;
    overflow: hidden;
    display: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.contactsMenu.visible {
    display: flex; 
    opacity: 1;
}

.contactsMenu.hidden {
    opacity: 0;
    display: none;
}

.contactsMenu li {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.contactsMenu h2 {
    font-family: var(--font-family);
    font-size: 1.25rem;
    font-weight: var(--font-weight-bold);
    color: #4F4F4F;
}

.contactsMenu dt {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 0.5rem;
    font-weight: var(--font-weight-bold);
    color: #4F4F4F;
    font-style: normal; 
}

.contactsMenu dd {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color: #686868;
    margin-bottom: 8px;
    font-style: normal; 
}

.contactsMenu dd a {
    text-decoration: none; 
    color: inherit;
    font-style: normal; 
}

.contactsMenu img {
    position: absolute;
    right: -3rem;
    scale: 0.5;
    opacity: 0.5;
    filter: grayscale(100%);
    transform: scaleX(-1);
}

.servicesMenu {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #D9D9D9;
    padding: 2rem 3rem;
    list-style: none;
    border-radius: 10px;
    z-index: 1000;
    display: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
}

.servicesMenu.visible {
    display: flex; 
    opacity: 1;
}

.servicesMenu.hidden {
    opacity: 0;
    display: none;
}

.servicesMenu a {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: #4F4F4F;
    transition: all 0.3s ease;
}

.servicesMenu a:hover {
    font-weight: var(--font-weight-bold);
}

.accessoriesMenu {
    position: absolute;
    top: 100%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #D9D9D9;
    padding: 2rem 3rem 7rem 3rem;
    overflow: hidden;
    list-style: none;
    display: none;
    border-radius: 10px;
    z-index: 1000;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
}

.accessoriesMenu.visible {
    display: flex; 
    opacity: 1;
}

.accessoriesMenu.hidden {
    opacity: 0;
    display: none;
}

.accessoriesMenu a {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: #4F4F4F;
    transition: all 0.3s ease;
}

.accessoriesMenu a:hover {
    font-weight: var(--font-weight-bold);
}

.accessoriesMenu img {
    position: absolute;
    top: 8rem;
    left: 8rem;
    opacity: 0.5;
}

.logIn {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    justify-content: center;
    align-items: center;
    font-style: none;
    transform: scale(0.9);
    text-decoration: none;
    position: absolute;
    right: 10px;
}

.logIn img {
    opacity: 0.3;
}

.logIn p {
    font-family: var(--font-family);
    font-size: 0.7rem;
    font-weight: 300;
    color: var(--font-color);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
}

/* main */

main {
    display: flex;
    flex-direction: column;
    gap: 12.5rem;
}

/* article */

:root {
    --font-family: "Unbounded";
    --font-weight-bold: 800;
    --font-weight-regular: 400;
    --font-color: #292929;
}

article {
    position: relative;
}

.articleTxt {
    position: absolute;
    top: 2rem;
    left: 2rem;
    text-decoration: none;
}

.articleTxt h1, 
.articleTxt h2 {
    font-family: var(--font-family);
    font-size: 2.5rem;
    font-weight: var(--font-weight-bold);
    color: #FFFFFF; 
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
    transition: all 0.5s ease;
}

.articleTxt h2 {
    font-size: 1.75rem;
    font-weight: var(--font-weight-regular);
}

.articleTxt h1:hover,
.articleTxt h2:hover {
    font-weight: 900;
    color: #FFF985;
}


.mainPhoto {
    width: 100%;        
    max-width: 100%;   
    height: 800px;  
    object-fit: cover;   
    display: block;
    transition: all 1s ease-in-out; 
}

.ellipses {
    position: absolute; 
    display: flex;
    gap: 1.5rem;
    justify-content: center; 
    left: 50%;
    transform: translateX(-50%);
    top: 90%;
}

.ellipseMain {
    width: 20px;         
    height: 20px;         
    border-radius: 50%;  
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;   
    transition: transform 0.3s ease, border 0.3s ease; 
}

.ellipseMain:hover {
    transform: scale(1.1); 
}

.ellipseMain.active {
    border: 2px solid #ff0000; 
}

/* blockquote */

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transform: translateY(5rem);
    opacity: 0;
    transition: all 0.3s ease;
}

.text.visible {
    opacity: 1;
    transform: translateY(0rem);
}

.text p:first-of-type {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 600;
    color: var(--font-color);
}

.text p:nth-of-type(2) {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: var(--font-color);
    text-align: center;
    max-width: 600px;
}

/* cars */

.cars {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.cars img {
    box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    width: 50%;
    height: auto;
}

.cars img:hover {
    scale: 1.05;
}

/* car to left */

.carToLeft {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

.carToLeft img {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.infoPrice {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.carInfo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.carInfo a.headerOfCar {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
    color: var(--font-color);
    transition: all 0.5s ease;
}

.carInfo a.headerOfCar:hover {
    color: #4F4F4F;
}

.infoList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.carInfo .infoList a {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: var(--font-color);
    transition: all 0.5s ease;
}

.infoList a:hover {
    color: #4F4F4F;
    font-weight: var(--font-weight-bold);
}

.carPrice {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    user-select: none;
}

.carPrice h2, h3 {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: var(--font-color)
}

.carPrice h2 {
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
}

/* car to right */

.carToRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2.5rem;
}

.carToRight img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.carToRight .infoButton,
.carToRight .carPrice h2, .carToRight .carPrice h3 {
    display: flex;
    justify-content: flex-end;
}


/* preFooter */

.preFooter {
    position: relative;
}

.preFooter img {
    width: 100%;
    height: auto;
}

.preFooter a {
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 2.5rem;
    font-weight: var(--font-weight-bold);
    color: #C7C7C7;
    transition: all 0.3s ease;
}

.preFooter a:hover {
    transform: scale(1.05);
    color: #FFF3D0;
}

/* footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #292929;
    padding: 7.5rem 7.5rem;
    overflow: hidden;
}

footer img {
    width: 100%; 
    height: auto; 
    max-width: 50%; 
    display: block;
    opacity: 0;
    transform: translateX(50rem);
    transition: all 0.8s ease;
}

footer img.visible {
    opacity: 1;
    transform: translateX(0rem);
}

.menuButtons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footerButton {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color: #FBF8EF;
    transition: all 0.3s ease-in-out;
}

.menuButtons:nth-of-type(1) .footerButton:hover {
    transform: scale(1.05);
    color: #FFF3D0;
}









