* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

/* header - nav */

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 40px 10px;
}

header .logo {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%); 
}

nav {
    display: flex;
    justify-content: center; 
    flex-grow: 1; 
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 35px;
    list-style: none;
}

.navButton {
    text-decoration: none;
    font-family: "Unbounded";
    font-size: 1rem;
    font-weight: 400;
    color: #4F4F4F;
    transition: all 0.3s ease;
}

.navButton:hover {
    font-weight: 900;
    color: #2C2C2C;
}

/* main */

main {
    display: flex;
    flex-direction: column;
    gap: 12.5rem;
}

/* article */

:root {
    --font-family: "Unbounded";
    --font-weight-bold: 800;
    --font-weight-regular: 400;
    --font-color: #292929;
}

article {
    position: relative;
}

.articleTxt {
    position: absolute;
    top: 2rem;
    left: 2rem;
    text-decoration: none;
}

.articleTxt h1, h2 {
    font-family: var(--font-family);
    font-size: 2.5rem;
    font-weight: var(--font-weight-bold);
    color: #C7C7C7;
    transition: all 0.5 ease;
}

.articleTxt h2 {
    font-size: 1.75rem;
    font-weight: var(--font-weight-regular);
}

.articleTxt h1:hover {
    color: #FFF985;
}

.articleTxt h2:hover {
    color: #FFF985;
}

.mainPhoto {
    width: 100%;        
    max-width: 100%;   
    height: auto;     
    display: block;
}

/* blockquote */

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.text p:first-of-type {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 600;
    color: var(--font-color);
}

.text p:nth-of-type(2) {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: var(--font-color);
    text-align: center;
    max-width: 600px;
}

/* cars */

.cars {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.cars img {
    box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.5);
}

/* car to left */

.carToLeft {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

.infoPrice {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.carInfo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.carInfo a.headerOfCar {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
    color: var(--font-color);
    transition: all 0.5s ease;
}

.carInfo a.headerOfCar:hover {
    color: #4F4F4F;
}

.infoList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.carInfo .infoList a {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: var(--font-color);
    transition: all 0.5s ease;
}

.infoList a:hover {
    color: #4F4F4F;
    font-weight: var(--font-weight-bold);
}

.carPrice {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    user-select: none;
}

.carPrice h2, h3 {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: var(--font-color)
}

.carPrice h2 {
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
}

/* car to right */

.carToRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2.5rem;
}

.carToRight .infoButton,
.carToRight .carPrice h2, .carToRight .carPrice h3 {
    display: flex;
    justify-content: flex-end;
}


/* preFooter */

.preFooter {
    position: relative;
}

.preFooter img {
    width: 100%;
    height: auto;
}

.preFooter a {
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 2.5rem;
    font-weight: var(--font-weight-bold);
    color: #C7C7C7;
}

/* footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #292929;
    padding: 7.5rem 7.5rem;
}

footer img {
    width: 100%; 
    height: auto; 
    max-width: 50%; 
    display: block;
}

.menuButtons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footerButton {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color: #FBF8EF;
    transition: all 0.3 ease;
}









